In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./dataset/서울특별시_부동산_실거래가_정보_2018년.csv', encoding='cp949')

C:\Users\User\AppData\Local\Temp\ipykernel_15508\3620406310.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./dataset/서울특별시_부동산_실거래가_정보_2018년.csv', encoding='cp949')

In [3]:
df.head()

,실거래가아이디,지번코드,시군구코드,자치구명,법정동코드,법정동명,신고년도,업무구분코드,업무구분,물건번호,대지권면적,건물면적,관리구분코드,층정보,건물주용도코드,건물주용도,물건금액,건축년도,건물명
0,11710-2018-4-0006022-1,1171011300101360000,11710,송파구,1171011300,거여동,2018,4,신고,1,NaN,59.79,0,2.0,2001,아파트,410000000,1999.0,삼호
1,11350-2018-4-0003763-1,1135010200109290000,11350,노원구,1135010200,월계동,2018,4,신고,1,NaN,59.95,0,14.0,2001,아파트,360000000,2000.0,현대
2,11350-2018-4-0003764-1,1135010600103640012,11350,노원구,1135010600,중계동,2018,4,신고,1,NaN,44.10,0,8.0,2001,아파트,255000000,1993.0,주공6
3,11350-2018-4-0003765-1,1135010200109290000,11350,노원구,1135010200,월계동,2018,4,신고,1,NaN,59.95,0,4.0,2001,아파트,370000000,2000.0,현대
4,11350-2018-4-0003830-1,1135010300103790002,11350,노원구,1135010300,공릉동,2018,4,신고,1,NaN,74.97,0,3.0,2001,아파트,250000000,2003.0,엘림타운

In [6]:
column = df.loc[ : ,['자치구명','법정동명','건물면적','층정보',
                     '건물주용도','물건금액','건물명']].copy()

column.head()

  자치구명 법정동명   건물면적   층정보 건물주용도       물건금액   건물명
0  송파구  거여동  59.79   2.0   아파트  410000000    삼호
1  노원구  월계동  59.95  14.0   아파트  360000000    현대
2  노원구  중계동  44.10   8.0   아파트  255000000   주공6
3  노원구  월계동  59.95   4.0   아파트  370000000    현대
4  노원구  공릉동  74.97   3.0   아파트  250000000  엘림타운

In [7]:
mask_1 = (column.건물주용도 =='아파트')
col_mask = column.loc[mask_1, :]
col_mask.head()

  자치구명 법정동명   건물면적   층정보 건물주용도       물건금액   건물명
0  송파구  거여동  59.79   2.0   아파트  410000000    삼호
1  노원구  월계동  59.95  14.0   아파트  360000000    현대
2  노원구  중계동  44.10   8.0   아파트  255000000   주공6
3  노원구  월계동  59.95   4.0   아파트  370000000    현대
4  노원구  공릉동  74.97   3.0   아파트  250000000  엘림타운

In [8]:
apt_column = col_mask.copy()
apt17 = apt_column.rename(columns={'법정동명':'동이름', '건물주용도':'건물용도',
                                '건물면적':'건물면적(㎡)', '물건금액':'거래가격(만원)'})
apt17.head()

  자치구명  동이름  건물면적(㎡)   층정보 건물용도   거래가격(만원)   건물명
0  송파구  거여동    59.79   2.0  아파트  410000000    삼호
1  노원구  월계동    59.95  14.0  아파트  360000000    현대
2  노원구  중계동    44.10   8.0  아파트  255000000   주공6
3  노원구  월계동    59.95   4.0  아파트  370000000    현대
4  노원구  공릉동    74.97   3.0  아파트  250000000  엘림타운

In [ ]:
apt17.set_index(['자치구명','동이름'],inplace=True)
apt17

In [10]:
건물면적_to_평수 = 1 * 0.3025 #평수 작업 줄
apt17['평수'] = apt17['건물면적(㎡)'] * 건물면적_to_평수 #평수 column 으로 생성
apt17['평수'] = apt17['평수'].round(0)
apt17

            건물면적(㎡)   층정보 건물용도   거래가격(만원)          건물명    평수
자치구명 동이름
송파구  거여동      59.79   2.0  아파트  410000000           삼호  18.0
노원구  월계동      59.95  14.0  아파트  360000000           현대  18.0
     중계동      44.10   8.0  아파트  255000000          주공6  13.0
     월계동      59.95   4.0  아파트  370000000           현대  18.0
     공릉동      74.97   3.0  아파트  250000000         엘림타운  23.0
...             ...   ...  ...        ...          ...   ...
영등포구 신길동      84.98   6.0  아파트  721200000  보라매 SK VIEW  26.0
     신길동      12.96   4.0  아파트  115000000       여의도리버뷰   4.0
     당산동      55.91   9.0  아파트  618000000        강변래미안  17.0
     당산동3가    38.77   2.0  아파트  440000000   당산계룡리슈빌2단지  12.0
     대림동      69.95   4.0  아파트  430000000           무림  21.0

[91323 rows x 6 columns]

In [11]:
apt18_sorted = apt17[['건물명', '건물용도', '층정보', '거래가격(만원)', '평수', '건물면적(㎡)']]
apt18_sorted.head()

           건물명 건물용도   층정보   거래가격(만원)    평수  건물면적(㎡)
자치구명 동이름
송파구  거여동    삼호  아파트   2.0  410000000  18.0    59.79
노원구  월계동    현대  아파트  14.0  360000000  18.0    59.95
     중계동   주공6  아파트   8.0  255000000  13.0    44.10
     월계동    현대  아파트   4.0  370000000  18.0    59.95
     공릉동  엘림타운  아파트   3.0  250000000  23.0    74.97

In [12]:
apt18_sorted_1 = apt18_sorted.sort_values(by = '거래가격(만원)')
apt18_sorted_1

                  건물명 건물용도  층정보    거래가격(만원)    평수  건물면적(㎡)
자치구명 동이름
구로구  구로동     (742-57)  아파트  1.0    60000000   7.0    21.60
     구로동     (780-50)  아파트  3.0    60000000   7.0    21.81
     구로동     (780-50)  아파트  4.0    64000000   7.0    21.81
강동구  길동   현대웰하임(201동)  아파트  3.0    72000000   4.0    14.47
구로구  구로동      (771-1)  아파트  2.0    72000000   6.0    20.70
...               ...  ...  ...         ...   ...      ...
용산구  한남동         한남더힐  아파트  1.0  7300000000  74.0   243.64
     한남동         한남더힐  아파트  1.0  7300000000  74.0   243.64
     한남동         한남더힐  아파트  3.0  7400000000  74.0   244.75
     한남동         한남더힐  아파트  3.0  7600000000  74.0   244.75
     한남동         한남더힐  아파트  3.0  8100000000  74.0   244.78

[91323 rows x 6 columns]

In [13]:
apt18_sorted_1.to_csv('APT2018.csv')