- 1. 서울시 부동산 실거래 api 불러오기
- 2. 부동산 실거래 열 정리
- 3. 건물주용도에서 아파트만 가져오기
- 4.

In [1]:
import pandas as pd
df = pd.read_csv('./dataset/서울특별시_부동산_실거래가_정보_2020년.csv', encoding='cp949')
df.info()

C:\Users\User\AppData\Local\Temp\ipykernel_3116\3190015572.py:2: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./dataset/서울특별시_부동산_실거래가_정보_2020년.csv', encoding='cp949')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176001 entries, 0 to 176000
Data columns (total 19 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   실거래가아이디  176001 non-null  object
 1   지번코드     176001 non-null  object
 2   시군구코드    176001 non-null  int64
 3   자치구명     176001 non-null  object
 4   법정동코드    176001 non-null  int64
 5   법정동명     176001 non-null  object
 6   신고년도     176001 non-null  int64
 7   업무구분코드   176001 non-null  int64
 8   업무구분     176001 non-null  object
 9   물건번호     176001 non-null  int64
 10  대지권면적    89147 non-null   float64
 11  건물면적     176001 non-null  float64
 12  관리구분코드   176001 non-null  object
 13  층정보      163838 non-null  float64
 14  건물주용도코드  176001 non-null  int64
 15  건물주용도    176001 non-null  object
 16  물건금액     176001 non-null  int64
 17  건축년도     175436 non-null  float64
 18  건물명      163838 non-null  object
dtypes: float64(4), int64(7), object(8)
memory usage: 25.5+ MB

In [2]:
df_1 = df.loc[:, ['자치구명','법정동명','건물면적','층정보','물건금액','건물주용도','건물명']].copy()
print(df_1)

       자치구명 법정동명    건물면적   층정보        물건금액 건물주용도          건물명
0       성북구  장위동   59.92   5.0   749000000   아파트  래미안 장위포레카운티
1       성북구  길음동   84.77  18.0  1200000000   아파트   롯데캐슬 클라시아
2       구로구  구로동   36.90   1.0   105000000   아파트       궁전아트빌라
3       용산구  산천동   59.55   2.0   830000000   아파트        리버힐삼성
4       용산구  이촌동   64.43   5.0   735000000   아파트           강변
...     ...  ...     ...   ...         ...   ...          ...
175996  마포구  상암동  294.03   NaN  1450000000  단독주택          NaN
175997  마포구  연남동  147.34   NaN  2430000000  단독주택          NaN
175998  마포구  망원동   46.77   3.0   405000000  연립주택      (459-4)
175999  마포구  신수동   46.41   NaN   899900000  단독주택          NaN
176000  마포구  신정동   25.69   NaN  1358000000  단독주택          NaN

[176001 rows x 7 columns]

In [3]:
mask1 = (df_1.건물주용도 == "아파트")
df_apt = df_1.loc[mask1, :]
print(df_apt.head())

  자치구명 법정동명   건물면적   층정보        물건금액 건물주용도          건물명
0  성북구  장위동  59.92   5.0   749000000   아파트  래미안 장위포레카운티
1  성북구  길음동  84.77  18.0  1200000000   아파트   롯데캐슬 클라시아
2  구로구  구로동  36.90   1.0   105000000   아파트       궁전아트빌라
3  용산구  산천동  59.55   2.0   830000000   아파트        리버힐삼성
4  용산구  이촌동  64.43   5.0   735000000   아파트           강변

In [4]:
df_apt2 = df_apt.rename(columns = {'물건금액':'거래가격(만원)','건물주용도' : '건물용도', '법정동명':'동이름', '건물면적': '건물면적(㎡)'})

In [5]:
df_apt2

       자치구명  동이름  건물면적(㎡)   층정보    거래가격(만원) 건물용도          건물명
0       성북구  장위동    59.92   5.0   749000000  아파트  래미안 장위포레카운티
1       성북구  길음동    84.77  18.0  1200000000  아파트   롯데캐슬 클라시아
2       구로구  구로동    36.90   1.0   105000000  아파트       궁전아트빌라
3       용산구  산천동    59.55   2.0   830000000  아파트        리버힐삼성
4       용산구  이촌동    64.43   5.0   735000000  아파트           강변
...     ...  ...      ...   ...         ...  ...          ...
175970  마포구  염리동    58.71   4.0   626000000  아파트           상록
175977  마포구  공덕동   113.67   4.0  1330000000  아파트       한화꿈에그린
175979  마포구  성산동    82.01   2.0   560000000  아파트         그레이스
175981  마포구  성산동    84.98   6.0   600000000  아파트   성산동자담이움아파트
175994  마포구  아현동    98.88   7.0   800000000  아파트           혜성

[88553 rows x 7 columns]

In [6]:
df_apt2 = df_apt2.set_index(['자치구명', '동이름'])
print(df_apt2)

          건물면적(㎡)   층정보    거래가격(만원) 건물용도          건물명
자치구명 동이름
성북구  장위동    59.92   5.0   749000000  아파트  래미안 장위포레카운티
     길음동    84.77  18.0  1200000000  아파트   롯데캐슬 클라시아
구로구  구로동    36.90   1.0   105000000  아파트       궁전아트빌라
용산구  산천동    59.55   2.0   830000000  아파트        리버힐삼성
     이촌동    64.43   5.0   735000000  아파트           강변
...           ...   ...         ...  ...          ...
마포구  염리동    58.71   4.0   626000000  아파트           상록
     공덕동   113.67   4.0  1330000000  아파트       한화꿈에그린
     성산동    82.01   2.0   560000000  아파트         그레이스
     성산동    84.98   6.0   600000000  아파트   성산동자담이움아파트
     아현동    98.88   7.0   800000000  아파트           혜성

[88553 rows x 5 columns]

In [7]:
df_apt2

          건물면적(㎡)   층정보    거래가격(만원) 건물용도          건물명
자치구명 동이름
성북구  장위동    59.92   5.0   749000000  아파트  래미안 장위포레카운티
     길음동    84.77  18.0  1200000000  아파트   롯데캐슬 클라시아
구로구  구로동    36.90   1.0   105000000  아파트       궁전아트빌라
용산구  산천동    59.55   2.0   830000000  아파트        리버힐삼성
     이촌동    64.43   5.0   735000000  아파트           강변
...           ...   ...         ...  ...          ...
마포구  염리동    58.71   4.0   626000000  아파트           상록
     공덕동   113.67   4.0  1330000000  아파트       한화꿈에그린
     성산동    82.01   2.0   560000000  아파트         그레이스
     성산동    84.98   6.0   600000000  아파트   성산동자담이움아파트
     아현동    98.88   7.0   800000000  아파트           혜성

[88553 rows x 5 columns]

In [8]:
aa= 1 * 0.3025
df_apt2['평수'] = df_apt2['건물면적(㎡)'] * aa 
df_apt2

          건물면적(㎡)   층정보    거래가격(만원) 건물용도          건물명         평수
자치구명 동이름
성북구  장위동    59.92   5.0   749000000  아파트  래미안 장위포레카운티  18.125800
     길음동    84.77  18.0  1200000000  아파트   롯데캐슬 클라시아   25.642925
구로구  구로동    36.90   1.0   105000000  아파트       궁전아트빌라  11.162250
용산구  산천동    59.55   2.0   830000000  아파트        리버힐삼성  18.013875
     이촌동    64.43   5.0   735000000  아파트           강변  19.490075
...           ...   ...         ...  ...          ...        ...
마포구  염리동    58.71   4.0   626000000  아파트           상록  17.759775
     공덕동   113.67   4.0  1330000000  아파트       한화꿈에그린  34.385175
     성산동    82.01   2.0   560000000  아파트         그레이스  24.808025
     성산동    84.98   6.0   600000000  아파트   성산동자담이움아파트  25.706450
     아현동    98.88   7.0   800000000  아파트           혜성  29.911200

[88553 rows x 6 columns]

In [9]:
df_apt2_sorted = df_apt2.sort_values(by = ['자치구명','동이름'])

In [10]:
df_apt3 = df_apt2_sorted
df_apt3

          건물면적(㎡)   층정보    거래가격(만원) 건물용도         건물명         평수
자치구명 동이름
강남구  개포동    35.44   4.0  1790000000  아파트    개포주공 1단지  10.720600
     개포동    59.84  19.0  1900000000  아파트    래미안블레스티지  18.101600
     개포동    59.97  10.0  1950000000  아파트    래미안블레스티지  18.140925
     개포동    33.18   6.0   980000000  아파트  성원대치2단지아파트  10.036950
     개포동    53.46  15.0  1700000000  아파트    개포주공 7단지  16.171650
...           ...   ...         ...  ...         ...        ...
중랑구  중화동    50.37   7.0   550000000  아파트        한신1차  15.236925
     중화동    59.76   4.0   605000000  아파트        한신1차  18.077400
     중화동    84.03  24.0   675000000  아파트        한신1차  25.419075
     중화동    84.03  13.0   700000000  아파트         한신2  25.419075
     중화동    84.82   2.0   645000000  아파트       청원다미소  25.658050

[88553 rows x 6 columns]

In [11]:
aa = 1 * 0.3025

In [12]:
df_apt3['건물면적'] = df_apt3['건물면적(㎡)'] * aa

In [13]:
df_apt3

          건물면적(㎡)   층정보    거래가격(만원) 건물용도         건물명         평수       건물면적
자치구명 동이름
강남구  개포동    35.44   4.0  1790000000  아파트    개포주공 1단지  10.720600  10.720600
     개포동    59.84  19.0  1900000000  아파트    래미안블레스티지  18.101600  18.101600
     개포동    59.97  10.0  1950000000  아파트    래미안블레스티지  18.140925  18.140925
     개포동    33.18   6.0   980000000  아파트  성원대치2단지아파트  10.036950  10.036950
     개포동    53.46  15.0  1700000000  아파트    개포주공 7단지  16.171650  16.171650
...           ...   ...         ...  ...         ...        ...        ...
중랑구  중화동    50.37   7.0   550000000  아파트        한신1차  15.236925  15.236925
     중화동    59.76   4.0   605000000  아파트        한신1차  18.077400  18.077400
     중화동    84.03  24.0   675000000  아파트        한신1차  25.419075  25.419075
     중화동    84.03  13.0   700000000  아파트         한신2  25.419075  25.419075
     중화동    84.82   2.0   645000000  아파트       청원다미소  25.658050  25.658050

[88553 rows x 7 columns]

In [14]:
df_apt3[['건물명', '건물용도', '층정보', '거래가격(만원)', '평수', '건물면적(㎡)']]

                 건물명 건물용도   층정보    거래가격(만원)         평수  건물면적(㎡)
자치구명 동이름
강남구  개포동    개포주공 1단지  아파트   4.0  1790000000  10.720600    35.44
     개포동    래미안블레스티지  아파트  19.0  1900000000  18.101600    59.84
     개포동    래미안블레스티지  아파트  10.0  1950000000  18.140925    59.97
     개포동  성원대치2단지아파트  아파트   6.0   980000000  10.036950    33.18
     개포동    개포주공 7단지  아파트  15.0  1700000000  16.171650    53.46
...              ...  ...   ...         ...        ...      ...
중랑구  중화동        한신1차  아파트   7.0   550000000  15.236925    50.37
     중화동        한신1차  아파트   4.0   605000000  18.077400    59.76
     중화동        한신1차  아파트  24.0   675000000  25.419075    84.03
     중화동         한신2  아파트  13.0   700000000  25.419075    84.03
     중화동       청원다미소  아파트   2.0   645000000  25.658050    84.82

[88553 rows x 6 columns]