In [1]:
import pandas as pd
import numpy as np
#년도별 그룹 객체 만들어서 관리 ex)2021, 2020...그룹 으로 (titanic의 First,Second,Third 한것처럼)

In [5]:
df = pd.read_csv('./dataset/seoul_2021.csv', encoding='cp949')

C:\Users\User\AppData\Local\Temp\ipykernel_3808\399508442.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./dataset/seoul_2021.csv', encoding='cp949')

In [ ]:
df.info() # 시군구코드, 자치구명, 법정동코드, 법정동명, 건물면적, 층정보, 건물주용도,
# 물건금액, 건물명

In [ ]:
df_1 = df.loc[ : ,  ['자치구명', '법정동명', '건물면적', 
             '층정보', '건물주용도', '물건금액', '건물명']].copy()

df.head()

In [ ]:
df_1.info()

In [6]:
print(df_1.건물주용도)

0         연립주택
1          아파트
2         오피스텔
3          아파트
4         연립주택
          ...
131866    단독주택
131867    오피스텔
131868     아파트
131869    연립주택
131870    오피스텔
Name: 건물주용도, Length: 131871, dtype: object

In [7]:
mask1 = (df_1.건물주용도 == '아파트')
df_1_mask = df_1.loc[mask1, :]
# print(df_1_mask.head(10))

In [8]:
df_1_mask.head # index 삭제하고 자치구명으로 index  설정후 sort 하면 가능
# apt.info()

<bound method NDFrame.head of        자치구명  법정동명    건물면적   층정보 건물주용도        물건금액            건물명
1       종로구   창신동   54.70   6.0   아파트   700000000          창신쌍용2
3       마포구   신수동   84.93  16.0   아파트  1950000000        신촌숲아이파크
6       마포구   염리동   58.71   2.0   아파트   900000000             상록
17      금천구   시흥동   41.22   1.0   아파트   550000000       럭키남서울아파트
18      종로구  명륜2가  172.17   8.0   아파트  1600000000            아남3
...     ...   ...     ...   ...   ...         ...            ...
131851  강동구    길동   57.31   4.0   아파트   685000000  에이치비골드빌(103동)
131857  강동구   상일동   59.25  16.0   아파트   550000000             동아
131858  강동구    길동   36.35  13.0   아파트   300000000          다성이즈빌
131859  강동구   천호동   56.40   8.0   아파트   875000000       코오롱상가아파트
131868  강동구   상일동   59.99  22.0   아파트  1450000000     고덕센트럴IPARK

[44937 rows x 7 columns]>

In [9]:
apt = df_1_mask.copy()
apt.reset_index()
apt.set_index(['자치구명', '법정동명'])

             건물면적   층정보 건물주용도        물건금액            건물명
자치구명 법정동명
종로구  창신동    54.70   6.0   아파트   700000000          창신쌍용2
마포구  신수동    84.93  16.0   아파트  1950000000        신촌숲아이파크
     염리동    58.71   2.0   아파트   900000000             상록
금천구  시흥동    41.22   1.0   아파트   550000000       럭키남서울아파트
종로구  명륜2가  172.17   8.0   아파트  1600000000            아남3
...           ...   ...   ...         ...            ...
강동구  길동     57.31   4.0   아파트   685000000  에이치비골드빌(103동)
     상일동    59.25  16.0   아파트   550000000             동아
     길동     36.35  13.0   아파트   300000000          다성이즈빌
     천호동    56.40   8.0   아파트   875000000       코오롱상가아파트
     상일동    59.99  22.0   아파트  1450000000     고덕센트럴IPARK

[44937 rows x 5 columns]

In [25]:
apt1 = apt.rename(columns={'법정동명' : '동이름', '물건금액' : '거래가격(만원)',
                           '건물주용도' : '건물용도', '건물면적':'건물면적(㎡)' })
# display(apt1) #index 이름을 보기 쉽게 변경작업

In [26]:
apt1.set_index(['자치구명', '동이름'], inplace=True)
# display(apt1) # 인덱스를 자치구명과 동이름으로 지정

In [27]:
apt1_sorted = apt1.sort_values(by = ['자치구명','동이름'])
display(apt1_sorted) #변경한 index 에서 자치구명으로 sort 작업 진행.

          건물면적(㎡)   층정보 건물용도    거래가격(만원)                 건물명
자치구명 동이름
강남구  개포동    84.94  12.0  아파트  2950000000            래미안블레스티지
     개포동    84.90   6.0  아파트  2681430000  우성9차아파트 901동, 902동
     개포동    76.17  26.0  아파트  2640000000            디에이치아너힐즈
     개포동    95.40   9.0  아파트  2150000000       현대1차101동~106동
     개포동    84.94  28.0  아파트  3200000000            래미안블레스티지
...           ...   ...  ...         ...                 ...
중랑구  중화동    59.76  14.0  아파트   775000000                한신1차
     중화동    59.76  26.0  아파트   832000000      한신아파트(103~109)
     중화동    84.69   2.0  아파트   500000000             한영(101)
     중화동    84.87  25.0  아파트   900000000      한신아파트(103~109)
     중화동    84.84   8.0  아파트   710000000               태능에셈빌

[44937 rows x 5 columns]

In [29]:
apt1_sorted = apt1_sorted[['건물명','건물용도','건물면적(㎡)','층정보','거래가격(만원)']]
display(apt1_sorted)

                         건물명 건물용도  건물면적(㎡)   층정보    거래가격(만원)
자치구명 동이름
강남구  개포동            래미안블레스티지  아파트    84.94  12.0  2950000000
     개포동  우성9차아파트 901동, 902동  아파트    84.90   6.0  2681430000
     개포동            디에이치아너힐즈  아파트    76.17  26.0  2640000000
     개포동       현대1차101동~106동  아파트    95.40   9.0  2150000000
     개포동            래미안블레스티지  아파트    84.94  28.0  3200000000
...                      ...  ...      ...   ...         ...
중랑구  중화동                한신1차  아파트    59.76  14.0   775000000
     중화동      한신아파트(103~109)  아파트    59.76  26.0   832000000
     중화동             한영(101)  아파트    84.69   2.0   500000000
     중화동      한신아파트(103~109)  아파트    84.87  25.0   900000000
     중화동               태능에셈빌  아파트    84.84   8.0   710000000

[44937 rows x 5 columns]

In [31]:
건물면적_to_평수 = 1 * 0.3025 #평수 작업 줄
apt1_sorted['평수'] = apt1_sorted['건물면적(㎡)'] * 건물면적_to_평수 #평수 column 으로 만들고
print(apt1_sorted.head())
print()
apt1_sorted['평수'] = apt1_sorted['평수'].round(0).copy()
apt1_sorted

                         건물명 건물용도  건물면적(㎡)   층정보    거래가격(만원)         평수
자치구명 동이름
강남구  개포동            래미안블레스티지  아파트    84.94  12.0  2950000000  25.694350
     개포동  우성9차아파트 901동, 902동  아파트    84.90   6.0  2681430000  25.682250
     개포동            디에이치아너힐즈  아파트    76.17  26.0  2640000000  23.041425
     개포동       현대1차101동~106동  아파트    95.40   9.0  2150000000  28.858500
     개포동            래미안블레스티지  아파트    84.94  28.0  3200000000  25.694350

C:\Users\User\AppData\Local\Temp\ipykernel_3808\3284985750.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  apt1_sorted['평수'] = apt1_sorted['건물면적(㎡)'] * 건물면적_to_평수 #평수 column 으로 만들고
C:\Users\User\AppData\Local\Temp\ipykernel_3808\3284985750.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  apt1_sorted['평수'] = apt1_sorted['평수'].round(0).copy()

                         건물명 건물용도  건물면적(㎡)   층정보    거래가격(만원)    평수
자치구명 동이름
강남구  개포동            래미안블레스티지  아파트    84.94  12.0  2950000000  26.0
     개포동  우성9차아파트 901동, 902동  아파트    84.90   6.0  2681430000  26.0
     개포동            디에이치아너힐즈  아파트    76.17  26.0  2640000000  23.0
     개포동       현대1차101동~106동  아파트    95.40   9.0  2150000000  29.0
     개포동            래미안블레스티지  아파트    84.94  28.0  3200000000  26.0
...                      ...  ...      ...   ...         ...   ...
중랑구  중화동                한신1차  아파트    59.76  14.0   775000000  18.0
     중화동      한신아파트(103~109)  아파트    59.76  26.0   832000000  18.0
     중화동             한영(101)  아파트    84.69   2.0   500000000  26.0
     중화동      한신아파트(103~109)  아파트    84.87  25.0   900000000  26.0
     중화동               태능에셈빌  아파트    84.84   8.0   710000000  26.0

[44937 rows x 6 columns]

In [32]:
test = apt1_sorted[['건물명', '건물용도', '층정보', '거래가격(만원)', '평수', '건물면적(㎡)']]
# test1 = test.rename(columns={'건물면적':'건물면적(㎡)'})
# test1

In [33]:
test_sorted = test.sort_values(by = '거래가격(만원)')
test_sorted #변경한 index 에서 자치구명으로 sort 작업 진행.

            건물명 건물용도   층정보     거래가격(만원)    평수  건물면적(㎡)
자치구명 동이름
구로구  오류동    썬앤빌  아파트  11.0     66000000   4.0    14.06
노원구  공릉동  진명비베레  아파트   4.0     67500000   4.0    12.52
구로구  오류동    썬앤빌  아파트   8.0     70000000   4.0    14.06
     오류동    썬앤빌  아파트   8.0     70000000   4.0    14.06
종로구  행촌동  대성아파트  아파트   1.0     75000000   6.0    19.27
...         ...  ...   ...          ...   ...      ...
강남구  청담동  PH129  아파트  14.0  11500000000  83.0   273.96
용산구  한남동  파르크한남  아파트   3.0  11500000000  81.0   268.95
강남구  청담동  PH129  아파트  14.0  11500000000  83.0   273.96
용산구  한남동  파르크한남  아파트   4.0  11700000000  81.0   268.67
     한남동  파르크한남  아파트   2.0  12000000000  81.0   268.95

[44937 rows x 6 columns]

In [34]:
test_sorted.to_csv('APT2021.csv')